
#company_info_table {
    border: 0;
}

#menu {
    height: 60px;
}

#page_menu {
    height: 40px;
    padding-left: 0;
    font-size: 1.2rem;
}

#page_menu .nav-item {
    text-align: center;
}
#body-contents {
    margin-top: 75px;
}

#input_symbol {
    width: 400px;
}