<!doctype html>
<html>
    <head>
        <title>決算発表</title>
        {% include 'common/header.html' %}
    </head>
    {% block body %}
        {% include 'common/nav.html' %}
        <div class="container" id="body-contents">
            {% include 'common/page_title.html' %}
            <div class="bs-component">
                <nav class="navbar navbar-expand-sm navbar-light" id="page_menu">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {% if mode == 1%} active{% endif %}">
                                <a class="nav-link" href="/announce_financial" >決算発表予定</a>
                            </li>
                            <li class="nav-item {% if mode == 2%} active{% endif %}">
                                <a class="nav-link" href="/financial_result">決算発表結果</a>
                            </li>
                            <li class="nav-item {% if mode == 3%} active{% endif %}">
                                <a class="nav-link" href="/update_financial">業績予想変更</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <section class="section section-default search_result">
                {% if mode == 1 %}
                    <table class="table table-hover mt-3">
                        <tr>
                            <th>発表日</th><th>銘柄</th><th>銘柄名</th><th>上場場所</th><th>期</th><th>売上進捗</th><th>営業進捗</th><th>経常進捗</th><th>利益進捗</th><th>四季報乖離</th>
                        </tr>
                        {% if result_list is defined %}
                            {% for result in result_list %}
                                <tr>
                                    <td>{{result['ANNOUNCE_DATE']}}</td>
                                    <td>{{result['STOCK_CODE']}}</td>
                                    <td><a href="/search_symbol?symbol={{result['STOCK_CODE']}}">{{result['STOCK_NAME']}}</a></td>
                                    <td>{{result['LISTED_PLACE']}}</td>
                                    <td>{{result['FINANCIAL_TYPE']}}</td>
                                    <td>{{result['PROGRESS_SALES_RATIO']}}%</td>
                                    <td>{{result['PROGRESS_OPE_RATIO']}}%</td>
                                    <td>{{result['PROGRESS_ORD_RATIO']}}%</td>
                                    <td>{{result['PROGRESS_INCOME_RATIO']}}%</td>
                                    <td><a target="_blank" href="https://shikiho.jp/tk/stock/info/{{result['STOCK_CODE']}}">{{result['SHIKIHO_DIFF_RATIO']}}%</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                    {% if result_list is not defined %}
                        <p>データが存在しません</p>
                    {% endif %}
                {% elif mode == 2 %}
                    <table class="table table-hover mt-3">
                        <tr>
                            <th colspan="3" class="text-center">決算内容</th><th>売上増減</th><th>営業増減</th><th>経常増減</th><th>利益増減</th>
                        </tr>
                        <tr>
                            <th>発表日</th><th>銘柄</th><th>銘柄名</th><th>売上進捗</th><th>営業進捗</th><th>経常進捗</th><th>利益進捗</th>
                        </tr>
                        {% if result_list is defined %}
                            {% for result in result_list %}
                                <tr>
                                    <td colspan="3"><a href="{{result['LINK']}}">{{result['TITLE']}}</a></td>
                                    <td>{{result['NET_SALES']}}({{result['CHANGE_SALES']}}%)</td>
                                    <td>{{result['OPERATING_INCOME']}}({{result['CHANGE_OPERATING']}}%)</td>
                                    <td>{{result['ORDINARY_INCOME']}}({{result['CHANGE_ORDINARY']}}%)</td>
                                    <td>{{result['NET_INCOME']}}({{result['CHANGE_NET_INCOME']}}%)</td>
                                </tr>
                                <tr>
                                    <td>{{result['ANNOUNCED_DATE']}}</td>
                                    <td>{{result['STOCK_CODE']}}</td>
                                    <td><a href="/search_symbol?symbol={{result['STOCK_CODE']}}">{{result['STOCK_NAME']}}</a></td>
                                    <td>{{result['PROGRESS_SALES']}}%</td>
                                    <td>{{result['PROGRESS_OPERATING']}}%</td>
                                    <td>{{result['PROGRESS_ORDINARY']}}%</td>
                                    <td>{{result['PROGRESS_NET_INCOME']}}%</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                    {% if result_list is not defined %}
                        <p>データが存在しません</p>
                    {% endif %}
                {% elif mode == 3 %}
                    <table class="table table-hover mt-3">
                        <tr>
                            <th>発表日</th><th>銘柄</th><th>銘柄名</th><th>売上増減</th><th>営業増減</th><th>経常増減</th><th>利益増減</th>
                        </tr>
                        {% if result_list is defined %}
                            {% for result in result_list %}
                                <tr>
                                    <td>{{result['ANNOUNCED_DATE']}}</td>
                                    <td>{{result['STOCK_CODE']}}</td>
                                    <td><a href="/search_symbol?symbol={{result['STOCK_CODE']}}">{{result['STOCK_NAME']}}</a></td>
                                    <td>{{result['CHANGE_SALES']}}%</td>
                                    <td>{{result['CHANGE_OPERATING']}}%</td>
                                    <td>{{result['CHANGE_ORDINARY']}}%</td>
                                    <td>{{result['CHANGE_NET_INCOME']}}%</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                    {% if result_list is not defined %}
                        <p>データが存在しません</p>
                    {% endif %}
                {% endif %}
            </section>
        </div>
    {% endblock %}

</html>
