<!doctype html>
<html>
    <head>
        <title>会社情報</title>
        {% include 'common/header.html' %}
    </head>
    {% block body %}
        {% include 'common/nav.html' %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info" role="alert">
                    {% for message in messages %}
                        {{ message }}
                        <br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="container mt-3">
            <section class="section section-default symbol_search">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header">
                            <h2>会社情報</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="page-header">
                            <form action="{{ url_for('search_symbol') }}" method="post" class="form-inline search_symbol">
                                <input type="text" class="form-control ml-2 col-3 px-1" id="symbol" name="symbol" placeholder="銘柄コード" value="6501">
                                <button type="submit" class="btn btn-secondary ml-2" id="search_symbol">検　索</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
            </section>
            <div class="bs-component">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#company_info">会社情報</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#chart">チャート</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#finance_result">業績</a>
                    </li>
                </ul>
            </div>
            <section class="section section-default mt-4" id="company_info">
                <div class="row small">
                    <div class="col-sm-4">
                        <div class="card text-white bg-dark">
                            <div class="card-header"><h4>6501 日立建機</h4></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">株　　価</div>
                                    <div class="col-sm-3">6501</div>
                                    <div class="col-sm-3">市場名</div>
                                    <div class="col-sm-3">マザーズ</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">時価総額</div>
                                    <div class="col-sm-3">6501</div>
                                    <div class="col-sm-3">25MA</div>
                                    <div class="col-sm-3">7,625</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">予想PER</div>
                                    <div class="col-sm-3">15.01</div>
                                    <div class="col-sm-3">25MA</div>
                                    <div class="col-sm-3">7,625</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">PBR</div>
                                    <div class="col-sm-3">0.53</div>
                                    <div class="col-sm-3">時価総額</div>
                                    <div class="col-sm-3">7,625</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-2">銘柄</div>
                            <div class="col-sm-2">6501</div>
                            <div class="col-sm-2 border-left">時価総額</div>
                            <div class="col-sm-2">7,625</div>
                            <div class="col-sm-2 border-left">外国保有比</div>
                            <div class="col-sm-2">16.2%</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-2">銘柄名</div>
                            <div class="col-sm-2">日立建機</div>
                            <div class="col-sm-2 border-left">資本比率</div>
                            <div class="col-sm-2">40.40%</div>
                            <div class="col-sm-2 border-left">投信保有比</div>
                            <div class="col-sm-2">13.7%</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-2">業種</div>
                            <div class="col-sm-2">機械</div>
                            <div class="col-sm-2 border-left">利益剰余金</div>
                            <div class="col-sm-2">262,098</div>
                            <div class="col-sm-2 border-left">浮動株</div>
                            <div class="col-sm-2">5.5%</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-sm-2">上場日</div>
                            <div class="col-sm-2">1981/12/17</div>
                            <div class="col-sm-2 border-left">有利子負債</div>
                            <div class="col-sm-2">262,011</div>
                            <div class="col-sm-2 border-left">特定株</div>
                            <div class="col-sm-2">71.1%</div>
                        </div>
                        <div class="row mt-2 mb-2">
                            <div class="col-sm-12 border-top"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">特色</div>
                            <div class="col-sm-10">油圧ショベル軸に建機国内２位、世界３位圏。鉱山機械も展開。日立製作所と連携強化</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-2">連結事業</div>
                            <div class="col-sm-10">建設機械ビジネス99(3)、ソリューションビジネス1(18)【海外】70 <17・3></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-2">比較会社</div>
                            <div class="col-sm-10">6301 コマツ,6390 加藤製作所,6432 竹内製作所</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-2">従業員</div>
                            <div class="col-sm-10"><17.12>連23,962名 単4,124名(37.4歳)[年]620万円</div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-1 small">
                    <div class="col-sm-1">会社説明</div>
                    <div class="col-sm-11" >
                            日立建機グループは、同社、親会社、連結子会社85社及び関連会社17社で構成される。<br>【事業内容】同社は油圧ショベル・超大型油圧ショベル・ホイールローダー等の製造・販売及びこれに関連する部品サービスの販売により建設機械に関連するレンタルライフサイクルの提供を主たる目的とした建設機械事業、並びに建設機械事業に含まれない部品の製造・販売及びサービス販売を主たる目的としたソリューション事業の2つの報告セグメントを有する。
                    </div>
                </div>
                <hr>
                <div class="row small">
                    <div class="col-sm-1">解説</div>
                    <div class="col-sm-11" >【独自増額】建機は想定超す中国はじめ回復基調。米・豪は鉱山向け部品・サービスの買収２社も通期寄与。クレーン非連結化や開発費増こなす。１ドル106円など為替前提もなお保守的。前号より増益幅拡大。</div>
                </div>
                <div class="row small mt-1">
                    <div class="col-sm-1">今後</div>
                    <div class="col-sm-11" >【重　点】部品・サービス事業の19年度売上比率５割（今期45％）計画。採算悪い100ｔ未満の鉱山用ダンプ生産を当面停止。ＩＣＴ施工のクラウド事業を９月開始へ。</div>
                </div>
            </section>

        {% if company_info is defined %}
            <br>
            <table class="table">
                <tr>
                    <th>会社コード</th>
                    <th>発表期</th>
                    <th>売上高</th>
                    <th>営業利益</th>
                    <th>経常利益</th>
                    <th>純利益</th>
                </tr>
            {% for company in company_info %}
                <tr>
                    <td>{{company['STOCK_CODE']}}</td>
                    <td>{{company['TERM']}}</td>
                    <td>{{company['SALES']}}</td>
                    <td>{{company['OPERATING_INCOME']}}</td>
                    <td>{{company['ORDINARY_INCOME']}}</td>
                    <td>{{company['NET_INCOME']}}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        </div>
    {% endblock %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- .appendでdataの個数分のDOM要素をHTMLに動的に挿入することができる -->
    <script>
        var p = d3.select("body")
          .selectAll('p')
          .data([4,8,15,16,23,42])
            .text(function(d) { return d; });

        // Enter
        p.enter().append("p")
          .text(function(d) { return d;});

        // Exit
        p.exit().remove()

    </script>
</html>
