<!doctype html>
<html>
    <head>
        <title>会社情報</title>
        {% include 'common/header.html' %}
    </head>
    {% block body %}
        {% include 'common/nav.html' %}
        {% if company_info is defined %}
            <div class="container" id="body-contents">
                <section class="section section-default symbol_search">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="page-header">
                                <h2>会社情報</h2>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="page-header">
                                <form action="{{ url_for('search_symbol') }}" method="post" class="form-inline search_symbol">
                                    <input type="text" class="form-control ml-2 col-3 px-1" id="symbol" name="symbol" placeholder="銘柄コード">
                                    <button type="submit" class="btn btn-secondary ml-2" id="search_symbol">検　索</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                </section>
                <div class="bs-component">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#company_info">会社情報</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#chart">チャート</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#finance_result">業績</a>
                        </li>
                    </ul>
                </div>
                <section class="section section-default mt-4" id="company_info">
                    <h4>{{company_info["STOCK_CODE"]}} {{company_info["STOCK_NAME"]}}  {{company_info["LISTED_PLACE"]}}</h4>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-1">業種</div>
                                <div class="col-sm-2">{{company_info["BUSINESS_TYPE_NAME"]}}</div>
                                <div class="col-sm-1">予想PER</div>
                                <div class="col-sm-2">{{company_info["PER"]}}</div>
                                <div class="col-sm-2">{{company_info["STOCK_FOREIGN_RATIO"]}}</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-sm-1">時価総額</div>
                                <div class="col-sm-2">{{company_info["TOTAL_MARKET_VALUE"]}}億</div>
                                <div class="col-sm-1">実績PBR</div>
                                <div class="col-sm-2">{{company_info["PBR"]}}</div>
                                <div class="col-sm-2">{{company_info["STOCK_INVESTMENT_RATIO"]}}</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-sm-1">配当利率</div>
                                <div class="col-sm-2">{{company_info["DIVIDEND_RATE"]}}</div>
                                <div class="col-sm-1">資本比率</div>
                                <div class="col-sm-2">{{company_info["EQUITY_RATIO"]}}%</div>
                                <div class="col-sm-2">{{company_info["FREE_FLOATWEIGHT"]}}</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-sm-1">優待利率</div>
                                <div class="col-sm-2">{{company_info["YUTAI_RATIO"]}}%</div>
                                <div class="col-sm-1 small">有利子負債</div>
                                <div class="col-sm-2">{{company_info["LIABILITIES_WITH_INTEREST"]}}</div>
                                <div class="col-sm-2">{{company_info["SPECIFIC_SHAREHOLDER_RATIO"]}}</div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-sm-12 border-top"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">特色</div>
                                <div class="col-sm-11">{{company_info["CHARACTERISTIC"]}}</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-1">解説</div>
                                <div class="col-sm-11" >{{company_info["COMMENTARY1"]}}</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-1">今後</div>
                                <div class="col-sm-11" >{{company_info["COMMENTARY2"]}}</div>
                            </div>
                            <hr>
                            <div class="row mt-2">
                                <div class="col-sm-1">連結事業</div>
                                <div class="col-sm-11">{{company_info["CONSOLIDATED_BUSINESS"]}}</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-1">比較会社</div>
                                <div class="col-sm-10">{{company_info["COMPETITORS"]}}</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-1">主要株主</div>
                                <div class="col-sm-11">{{company_info["PRINCIPAL_SHAREHOLDER"]}}</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-1">役員</div>
                                <div class="col-sm-11">{{company_info["OFFICER"]}}</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-1">従業員</div>
                                <div class="col-sm-11">{{company_info["EMPLOYEE"]}}</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-1">
                        <div class="col-sm-1">会社説明</div>
                        <div class="col-sm-11" >{{company_info["COMPANY_PROFILE"]}}</div>
                    </div>
                    <hr>
                </section>

                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="chart_div"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <canvas id="sales_chart"></canvas>
                    </div>
                    <div class="col-sm-6">
                        <canvas id="operating_income_chart"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <canvas id="ordinal_income_chart"></canvas>
                    </div>
                    <div class="col-sm-6">
                        <canvas id="net_income_chart"></canvas>
                    </div>
                </div>
            </div>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
            <script>
                var title = "";
                var options = {                           //◆オプション
                    responsive: true,                     //グラフ自動設定
                    legend: {                             //凡例設定
                        display: true                     //表示設定
                   },
                    scales: {                             //軸設定
                        yAxes: [{                         //y軸設定
                            display: true,                //表示設定
                            scaleLabel: {                 //軸ラベル設定
                               display: false,            //表示設定
                               labelString: '縦軸ラベル', //ラベル
                               fontSize: 18               //フォントサイズ
                            },
                        }],
                        xAxes: [{                         //x軸設定
                            display: true,                //表示設定
                            ticks: {
                                maxRotation: 90,          //X軸ラベル角度最大値
                                minRotation: 90,          //X軸ラベル角度最小値
                                fontSize: 12              //フォントサイズ
                            },
                        }],
                    },
                    layout: {                             //レイアウト
                        padding: {                        //余白設定
                            left: 0,
                            right: 0,
                            top: 0,
                            bottom: 0
                        }
                    }
                };
                var labels = [{% for item in chart_data["labels"] %} "{{item}}", {% endfor %}];
                var backgroundColor = [{% for item in chart_data["background_color_data"] %} "{{item}}", {% endfor %}];
                var borderColor = [{% for item in chart_data["border_color_data"] %} "{{item}}", {% endfor %}];
                var ctx = document.getElementById("sales_chart").getContext('2d');
                var salesChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: '売上高',
                                data: [{{ chart_data["sales_data"] }}],
                                backgroundColor: backgroundColor,
                                borderColor: borderColor,
                                borderWidth: 1
                            }
                        ]
                    },
                    options: options
                });

                ctx = document.getElementById("operating_income_chart").getContext('2d');
                var operatingIncomeChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: '営業利益',
                                data: [{{ chart_data["operating_income_data"] }}],
                                backgroundColor: backgroundColor,
                                borderColor: borderColor,
                                borderWidth: 1
                            }
                        ]
                    },
                    options: options
                });

                ctx = document.getElementById("ordinal_income_chart").getContext('2d');
                var operatingIncomeChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: '経常利益',
                                data: [{{ chart_data["ordinal_income_data"] }}],
                                backgroundColor: backgroundColor,
                                borderColor: borderColor,
                                borderWidth: 1
                            }
                        ]
                    },
                    options: options
                });

                ctx = document.getElementById("net_income_chart").getContext('2d');
                var operatingIncomeChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [
                            {
                                label: '純利益',
                                data: [{{ chart_data["net_income_data"] }}],
                                backgroundColor: backgroundColor,
                                borderColor: borderColor,
                                borderWidth: 1
                            }
                        ]
                    },
                    options: options
                });
            </script>
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript">

                // ライブラリのロード
                // name:visualization(可視化),version:バージョン(1.1),packages:パッケージ(corechart)
                google.load('visualization', '1', {'packages':['corechart']});

                // グラフを描画する為のコールバック関数を指定
                google.setOnLoadCallback(drawChart);

                // グラフの描画
                function drawChart() {

                // メソッドからデータの生成
                var data = new google.visualization.DataTable();
                data.addColumn('string', '日付');
                data.addColumn('number', '安値');
                data.addColumn('number', '終値');
                data.addColumn('number', '始値');
                data.addColumn('number', '高値');
                data.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

                // データの順 安値,終値,始値,高値
                var ohlc_data = [
                    {% for item in chart_data["ohlc_data"] %}
                        [
                            '{{item["STOCK_DATE"]}}'
                            ,{{item["LOW_PRICE"]}}
                            ,{{item["END_PRICE"]}}
                            ,{{item["START_PRICE"]}}
                            ,{{item["HIGH_PRICE"]}}
                            ,'<div style="width:80px; background-color:#292929; color:white; border-radius: 5px; padding-left:5px;"><strong>{{item["STOCK_DATE"]}}</strong><br>始値: <strong>{{item["START_PRICE"]}} </strong><br>高値: <strong>{{item["HIGH_PRICE"]}} </strong><br>安値: <strong>{{item["LOW_PRICE"]}} </strong><br>終値: <strong>{{item["END_PRICE"]}} </strong>'
                        ],
                    {% endfor %}
                ];
                data.addRows(ohlc_data);

                var formatter = new google.visualization.NumberFormat({
                    pattern: '#,###'
                });
                formatter.format(data, 1);

                // オプションの設定
                var options = {
                    height: 400,
                    candlestick: {
                        fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
                        risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
                    },
                    colors: ['black'],
                    legend:'none',
                    hAxis: {
                        direction: -1,
                        slantedText: true,
                        slantedTextAngle: 90
                    },
                    tooltip: {isHtml: 'true'},
                    chartArea:{left:50,right:25, top:25, bottom:100, width:"100%",height:"80%"}
                };

                // 指定されたIDの要素にローソク足を作成
                var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

                // グラフの描画
                chart.draw(data, options);
                }

            </script>
        {% else %}
            <div class="alert alert-info" role="alert">
                指定の会社コードは見つかりませんでした。
            </div>
        {% endif %}
    {% endblock %}
</html>
