<!doctype html>
<html>
    <head>
        <title>会社検索</title>
        {% include 'common/header.html' %}
    </head>
    {% block body %}
        {% include 'common/nav.html' %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-info" role="alert">
                    {% for message in messages %}
                        {{ message }}
                        <br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header">
                        <h2>会社検索</h2>
                    </div>
                </div>
            </div>
            <section class="section section-default search_condition">
                <form action="{{ url_for('search_company') }}" method="post">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="col-sm">銘柄コード</div>
                            <div class="col-sm"><input type="text" name="symbol" value="{{val['symbol']}}" placeholder="完全一致" /></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="col-sm">銘柄名</div>
                            <div class="col-sm"><input type="text" name="symbol_name" value="{{val['symbol_name']}}" placeholder="部分一致" /></div>
                        </div>
                        <div class="col-sm-2">
                            <div class="col-sm">キーワード</div>
                            <div class="col-sm"><input type="text" name="keyword" value="{{val['keyword']}}" placeholder="部分一致" /></div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <button type="submit" class="btn btn-secondary ml-2">検　索</button>
                    </div>
                </form>
            </section>
            <section class="section section-default search_result">
                {% if company_list is defined %}
                    <table class="table table-hover mt-3">
                        <tr>
                            <th>銘柄</th><th>銘柄名</th><th>上場場所</th><th>上場日</th><th>業種</th><th>特徴</th>
                        </tr>
                        {% for company in company_list %}
                            <tr>
                                <td>{{company['STOCK_CODE']}}</td>
                                <td><a href="/search_symbol?symbol={{company['STOCK_CODE']}}">{{company['STOCK_NAME']}}</a></td>
                                <td>{{company['LISTED_PLACE']}}</td>
                                <td>{{company['LIESTED_DATE']}}</td>
                                <td>{{company['BUSINESS_TYPE_NAME']}}</td>
                                <td>{{company['CHARACTERISTIC']}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </section>
        </div>
    {% endblock %}

</html>
